@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/roboto-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: 'robotoregular', serif;
    box-sizing: border-box;
    --sidebar-size: 300px;
    --header-size: 160px;
    --header-search-size: 64px;
    --sky-blue: #1A92D4;
    --baby-gray: #E2E8F0;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-size) 1fr;
    grid-template-rows: var(--header-size) 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--sky-blue);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px 150px;
    justify-items: center;
    gap: 25px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: var(--header-search-size) calc(var(--header-size) - var(--header-search-size))
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--baby-gray);
}

.goto > ul > li > h2, .logo > h1 {
    color: white;
    font-weight: bold;
}

.logo > h1 {
    font-size: 24px;
}

.goto > ul > li > h2 {
    font-size: 20px;
}

.goto, .logo {
    width: 90%;
    padding: 5px;
}

.logo {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}

.goto-one > ul, .goto-two > ul {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
}

.goto-one > ul {
    grid-template-rows: repeat(6, 1fr);
}

.goto-two > ul {
    grid-template-rows: repeat(3, 1fr);
}

.icon-filter {
    filter: brightness(0) invert(1);
    height: 50px;
    width: 50px;
}

.icon-filter-small {
    filter: brightness(0) invert(1);
    height: 30px;
    width: 30px;
}

.goto > ul > li {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 2px;
}

.header-search {
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-around;
}

.header-search > *, .header-bottom > * {
    padding-left: 50px;
    padding-right: 50px;
}

.search-space {
    display: grid;
    grid-template-columns: 30px minmax(300px, 800px);
    align-items: center;
    height: 100%;
    gap: 10px;
    justify-content: start;
}

.icon-small {
    height: 32px; 
    width: 32px;
}

.icon-extra-small {
    height: 29px; 
    width: 29px;
}

.icon-filter-small::selection, .icon-filter::selection {
    color: unset;
    background-color: unset;
}

.searchbar {
    height: 32px;
    width: 100%;
    background-color: var(--baby-gray);
    border-radius: 24px;
}

.account {
    align-items: center;
    display: grid;
    grid-template-columns: 50px 50px 130px;
    gap: 15px;
    justify-content: end;
}

.account-circle {
    height: 50px;
    width: 50px;
}

.account > p.name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.header-bottom {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 400px 400px;
    align-items: center;
    justify-content: space-between;
}

.big-account-circle {
    height: 64px;
    width: 64px;
}

.header-bottom > .left {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 64px 300px;
    align-items: center;
    gap: 11px;
    justify-content: start;
}

.greeting > p {
    font-weight: bold;
}

.greeting > p {
    font-weight: bold;
}

.greeting > p:nth-child(1) {
    font-size: 13px;
}

.greeting > p:nth-child(2) {
    font-size: 24px;
}

.media-row {
    grid-column: 2 / 3;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 64px;
}

.media-row button {
    background-color: var(--sky-blue);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    height: 40px;
    width: 108px;
    padding: 0px;
    margin: 0px;
    justify-content: end;
}

.media-row button:hover, .logo:hover, 
.goto:hover, .icon-small:hover,
.account-circle:hover, .account .name:hover {
    cursor: pointer;
}